<div>
  <ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)"
    size = "large"
    color = "#fff"
    type = "square-jelly-box"
    [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
  </ngx-spinner>
  <app-navbar-public></app-navbar-public>
  <main class="container-public">
    <router-outlet></router-outlet>
  </main>
  <div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=527225850178" target="_blank">
      <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
  </div>
  <app-footer-public></app-footer-public>
</div>
