<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Paquetes</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Home</a></li>
        <li class="breadcrumb-item active">Paquetes</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Paquetes</h3>
          </div>
          <div class="col-6">
            <h3 class="float-right"><a [routerLink]="['/admin/events/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td width="50px">
                <a [routerLink]="['/admin/events/edit', event.id]">
                  <img [src]="base_url + event.image" class="aspect-radio" alt="imagen" *ngIf="event.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
                  <img src="assets/images/missing.png" *ngIf="!event.image" class="aspect-radio">
                </a>
              </td>
              <td>{{ event.title }}</td>
              <td>{{ event.date | date: 'medium' }}</td>
              <td class="text-center">
                <fa-icon [icon]="faPowerOff" [ngClass]="{'text-success': event.active, 'text-danger': !event.active }" class="cursor" (click)="active(event.id)"></fa-icon>
                <fa-icon [icon]="faTrashAlt" class="text-danger ms-1 cursor" (click)="delete(event.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=12
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
<!-- end row-->
