<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Usuarios</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/users']">Usuarios</a></li>
        <li class="breadcrumb-item active">Editar</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3><i class="far fa-hand-pointer"></i> Editar al Usuario {{ user.name }}</h3>
      </div>
      <div class="card-body">
        <p *ngIf="alert.active">
          <ngb-alert [type]="alert.type" (closed)="closed()">{{ alert.message }}</ngb-alert>
        </p>
        <form (ngSubmit)="submit(form)"  #form="ngForm">
          <div class="form-group">
            <label for="userName">Nombre<span class="text-danger">*</span></label>
            <input type="text" name="name"  required placeholder="Ingresa Nombre" class="form-control" id="userName" [(ngModel)]="user.name">
          </div>
          <div class="form-group">
            <label for="emailAddress">Correo<span class="text-danger">*</span></label>
            <input type="email" name="email" required placeholder="Ingresa Correo" class="form-control" id="emailAddress" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <label for="telephone">Telefono<span class="text-danger">*</span></label>
            <input type="tel" name="telephone" required placeholder="Ingresa Telefono" class="form-control" id="telephone" [(ngModel)]="user.telephone">
          </div>
          <div class="form-group">
            <label for="checkbox">Cambiar contraseña &nbsp;<span class="text-danger"></span></label>
            <input id="checkbox" type="checkbox" #checkbox (click)="chagePassword()">
          </div>
          <div class="form-group" *ngIf="passwordV">
            <label for="pass1">Contraseña<span class="text-danger">*</span></label>
            <input id="pass1" type="password" placeholder="Contraseña" required class="form-control" name="password" [(ngModel)]="user.password">
          </div>
          <div class="form-group" *ngIf="passwordV">
            <label for="passWord2">Confirmar Contraseña <span class="text-danger">*</span></label>
            <input type="password" required placeholder="Contraseña" class="form-control" id="passWord2" name="pass" [(ngModel)]="user.pass">
          </div>
          <div class="form-group text-right ml-3">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
              Guardar
            </button>
            <button type="reset" class="btn btn-secondary m-l-5 ms-4">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div><!-- end card-->
  </div>
</div>
<!-- END container-fluid -->
