<footer class="footer">
            <span class="text-right">
                Copyright <a target="_blank" >Gotcha Diablo</a>
            </span>
  <span class="float-right">
                Adaptado por <a target="_blank" href="https://excess.com.mx" title="Download free Bootstrap templates"><b>Exccess</b></a>
            </span>
</footer>
