<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-10 col-xl-8 mt-3 mb-3">
      <h1 class="text-center">{{ package.title }}</h1>
      <div class="row">
        <img [src]="base_url + package.image" class=" aspect-radio-main" alt="imagen" *ngIf="package.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
        <img src="assets/images/missing.png" *ngIf="!package.image" class="aspect-radio-main">
        <h1 class="mt-4">{{ package.price | currency:'USD':'symbol-narrow':'4.2-2'}}</h1>
        <p class="card-text" [innerHTML]="package.description"></p>
      </div>
    </div>
  </div>
</div>
