<div class="container my-5" *ngIf="packages.length != 0">
  <h1 class="text-center">Paquetes</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 mt-3" *ngFor="let package of packages">
      <div class="card">
        <img [src]="base_url + package.image" class=" aspect-radio-main" alt="imagen" *ngIf="package.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
        <img src="assets/images/missing.png" *ngIf="!package.image" class="aspect-radio-main">
        <div class="card-body">
          <h5 class="card-title">{{ package.title }}</h5>
          <p class="card-text" [innerHTML]="package.intro| truncate:[150, '...']"></p>
          <a href="#" class="btn btn-primary float-end" [routerLink]="['/paquetes', package.slug]">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
