<div class="container pt-5 mb-5">
  <h1 class="text-center">Galeria</h1>
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-3" *ngFor="let image of images; let i=index">
      <img [src]="base_url + image.image" class="aspect-radio cursor" (click)="showGallery(i)">
    </div>
  </div>
</div>
