<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Usuarios</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Home</a></li>
        <li class="breadcrumb-item active">Usuarios</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Usuarios</h3>
          </div>
          <div class="col-6">
            <h3 class="float-right"><a [routerLink]="['/admin/users/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Perfil</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users |  paginate: { itemsPerPage: 5, currentPage: page }; let i=index">
              <td *ngIf="user.id != 1">
                <a [routerLink]="['/admin/users/edit', user.id]">
                  {{ user.name }}
                </a>
              </td>
              <td *ngIf="user.id != 1">{{ user.email }}</td>
              <td *ngIf="user.id != 1">{{ user.profile == 'admin' ? 'Administrador':'Usuario' }}</td>
              <td class="text-center" *ngIf="user.id != 1">
                <fa-icon [icon]="faPowerOff" [ngClass]="{'text-success': user.active, 'text-danger': !user.active }" class="cursor" (click)="active(user.id)"></fa-icon>
                <fa-icon [icon]="faTrashAlt" class="text-danger ms-1 cursor" (click)="delete(user.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=9
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
<!-- end row-->
