<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-10 col-xl-8 mt-3 mb-3">
      <h1 class="text-center">{{ event.title }}</h1>
      <div class="row">
        <img [src]="base_url + event.image" class=" aspect-radio-main" alt="imagen" *ngIf="event.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
        <img src="assets/images/missing.png" *ngIf="!event.image" class="aspect-radio-main">
        <h1 class="mt-4">{{ event.date | date:'medium'}}</h1>
        <p class="card-text" [innerHTML]="event.description"></p>
      </div>
    </div>
  </div>
</div>
