<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Reservaciones</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Home</a></li>
        <li class="breadcrumb-item active">Reservaciones</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3><fa-icon [icon]="faTable"></fa-icon> Tabla de Reservaciones</h3>
          </div>
          <div class="col-6">
<!--            <h3 class="float-right"><a [routerLink]="['/admin/reservations/create']"><fa-icon [icon]="faPlus"></fa-icon></a></h3>-->
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="dataTable" class="table table-bordered table-hover display" style="width:100%">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Paquete</th>
              <th>Fecha</th>
              <th>status</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations |  paginate: { itemsPerPage: 2, currentPage: page }; let i=index">
              <td>{{ getUser(reservation.user_id) }}</td>
              <td>{{ getUserTelefone(reservation.user_id) }}</td>
              <td>{{ getPackage(reservation.package_id) }}</td>
              <td>{{ reservation.date | date: 'mediumDate' }}</td>
              <td>
                <p [ngSwitch]="reservation.status">
                  <span *ngSwitchCase="1" class="text-dark">Solicitado</span>
                  <span *ngSwitchCase="2" class="text-warning">Proceso</span>
                  <span *ngSwitchCase="3" class="text-success">Autorizado</span>
                  <span *ngSwitchCase="4" class="text-danger">Rechazado</span>
                  <span *ngSwitchCase="5" class="text-dark">Finalizado</span>
                </p>
              </td>
              <td class="text-center">
                <span [ngSwitch]="reservation.status" class="cursor">
                  <fa-icon [icon]="faSpinner" *ngSwitchCase="1" title="Procesar" class="text-warning" (click)="status(reservation.id, 2)"></fa-icon>
                  <fa-icon [icon]="faCheck" *ngSwitchCase="2" title="Autorizar" class="text-success" (click)="status(reservation.id, 3)"></fa-icon>
                  <fa-icon [icon]="faBan" *ngSwitchCase="2" title="Cancelar" class="text-danger" (click)="status(reservation.id, 4)"></fa-icon>
                </span>
                <fa-icon [icon]="faTrashAlt" class="text-danger ms-1 cursor" (click)="delete(reservation.id)"></fa-icon>
              </td>
            </tr>
            </tbody>
          </table>
          <pagination-controls  (pageChange)="page = $event"
                                (pageBoundsCorrection)="page = $event"
                                [maxSize]=12
                                [directionLinks]=true
                                [autoHide]=true
                                [responsive]=true
                                previousLabel="Anterior"
                                nextLabel="Siguente"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <!-- end table-responsive-->
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</div>
<!-- end row-->
