@import "src/assets/sass/variables.scss"
/* footer

footer
  padding-top: 50px
  padding-bottom: 30px
  background: $dark
  text-align: center
  border-top: $red 0.8rem solid


  .social
    a
      display: inline-block
      width: 60px
      height: 60px
      line-height: 60px
      margin: 0 7px
      margin-bottom: 30px
      color: #fff
      font-size: 32px
      border: 1px solid transparent
      border-radius: 80px
      -webkit-transition: all 0.25s linear
      -moz-transition: all 0.25s linear
      -ms-transition: all 0.25s linear
      -o-transition: all 0.25s linear
      transition: all 0.25s linear

      &.facebook:hover
        background-color: #3b5998

      &.twitter:hover
        background-color: #00aced

      &.youtube:hover
        background-color: #d4050c

      &.instagram:hover
        background-color: #833AB4
  p
    -webkit-text-stroke: 0.5px red
  ul
    li
      a
        -webkit-text-stroke: 0.5px #ffffff

/* Back to top

.bg-content
  background: rgba(black, 0.5)

/* Announcers

.team
  padding-bottom: 120px

.team-member
  text-align: center
  max-width: 400px
  margin: 0 auto
  margin-top: 30px

  .member-img
    img
      width: 100%
      max-width: 450px
      margin: 0 auto

    position: relative
    overflow: hidden

    .social
      background-color: red
      position: absolute
      top: 50%
      left: 0
      margin-top: -20px
      z-index: 10
      width: 100%
      opacity: 0

      a
        fa-icon
          width: 45px
          height: 45px
          font-size: 16px
          color: #fff
          line-height: 45px

        &:hover
          padding: 5% 0
          background-color: rgba(black, 0.5)

  &:hover .member-img .social
    opacity: 1


.team-member
  h3
    margin-top: 30px
    font-size: 22px

  .designation
    display: block
    font-size: 14px

