<!-- Footer -->
<footer class="pt-5 text-muted text-center text-small">
  <div class="container">
    <!-- social media links -->
    <div class="social">
      <a class="facebook" [routerLink]="['/sign/in']">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
      <a class="facebook" href="#" target="_blank">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a class="twitter" href="#" target="_blank">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a class="youtube" href="#" target="_blank">
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
      <a class="instagram" href="#" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
    <!-- copy right -->
    <p class="mb-1">&copy;  Gotcha Diablo Todos los derechos reservados.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a [routerLink]="['/aviso-privacidad']">Aviso de Privacidad</a></li>
    </ul>
  </div>
</footer>
