<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">Paquetes</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item"><a [routerLink]="['/admin']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/admin/packages']">Paquetes</a></li>
        <li class="breadcrumb-item active">Nuevo</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3><i class="far fa-hand-pointer"></i> Nuevo Paquete</h3>
      </div>
      <div class="card-body">
        <p *ngIf="alert.active">
          <ngb-alert [type]="alert.type" (closed)="closed()">{{ alert.message }}</ngb-alert>
        </p>
        <form (ngSubmit)="submit(form)"  #form="ngForm">
          <div class="form-group">
            <label for="userName">Nombre<span class="text-danger">*</span></label>
            <input type="text" name="name"  required placeholder="Ingresa Nombre" class="form-control" id="userName" ngModel>
          </div>
          <div class="form-group">
            <label for="emailAddress">Precio<span class="text-danger">*</span></label>
            <input type="number" name="price" required placeholder="Ingresa Precio" class="form-control" id="emailAddress" ngModel>
          </div>
          <div class="position-relative form-group">
            <label for="image" class="">Imagen</label>
            <div class="row">
              <div class="col-6">
                <img [src]="base_url + imageInit" class="img-fluid" [alt]="imageInit" *ngIf="imageInit">
                <img [src]="thumbnail" *ngIf="thumbnail" class="img-fluid">
                <img src="assets/images/missing.png" *ngIf="!imageInit && !thumbnail" class="img-fluid">
              </div>
              <div class="col-6 d-flex align-items-center">
                <div class="upload-btn-wrapper">
                  <button class="btn btn-primary">Selecciona un archivo</button>
                  <input type="file" name="image" id="image" (change)="getImage($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="intro">Introducción<span class="text-danger">*</span></label>
            <textarea name="intro" id="intro" cols="30" rows="10" placeholder="Introducción" class="form-control" required ngModel></textarea>
          </div>
          <div class="form-group">
            <label for="description">Descripción<span class="text-danger">*</span></label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción" class="form-control" required ngModel></textarea>
          </div>
          <div class="form-group text-right ml-3">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
              Guardar
            </button>
            <button type="reset" class="btn btn-secondary m-l-5 ms-4">
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div><!-- end card-->
  </div>
</div>
<!-- END container-fluid -->
