<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 pt-2">
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alert">
        <strong>Debes comprobar que no eres robot</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="alertM">
        <strong>¡Tu mensaje se envio con exito!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h1 class="text-center">Contactanos</h1>
      <form action="" class="my-5 px-5" (ngSubmit)="submit(form)" #form="ngForm">
        <div class="row py-3">
          <div class="col-12">
            <div class="form-floating">
              <input type="email" name="name" id="floatingName" placeholder="Nombre" class="form-control" ngModel required>
              <label for="floatingName">
                <span>Nombre</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12 col-md-6">
            <div class="form-floating">
              <input type="email" name="email" id="floatingEmail" placeholder="Email" class="form-control" ngModel required>
              <label for="floatingEmail">
                <span>Email</span>
              </label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="form-floating">
              <input type="tel" name="telephone" id="floatingPhone" placeholder="Telefono" class="form-control" ngModel required>
              <label for="floatingPhone">
                <span>Telefono</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12">
            <div class="form-floating">
              <textarea class="form-control" name="message" placeholder="Mensaje" id="floatingMessage" style="height: 150px" ngModel required></textarea>
              <label for="floatingMessage">Mensaje</label>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <re-captcha
              (resolved)="resolved($event)"
              siteKey="6Le4AeUZAAAAAJLzC-rf2Xn3AO2sLt8bcGuW5CqT"
              class="float-end"
            ></re-captcha>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-end" [disabled]="form.invalid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
