<!-- Left Sidebar -->
<div class="left main-sidebar">

  <div class="sidebar-inner leftscroll">

    <div class="sidebar-menu">

      <ul>

        <li class="submenu">
          <a [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']">
            <fa-icon [icon]="faTachometerAlt"></fa-icon>
            <span [class.text-hide]="serviceMenu.getClose()"> Dashboard </span>
          </a>
        </li>

        <li class="submenu">
          <a [routerLink]="['/admin/users']" [routerLinkActive]="['active']">
            <fa-icon [icon]="faUsers"></fa-icon>
            <span [class.text-hide]="serviceMenu.getClose()"> Usuarios </span>
          </a>
        </li>

<!--        <li class="submenu">-->
<!--          <a [routerLink]="['/admin/reservations']" [routerLinkActive]="['active']">-->
<!--            <fa-icon [icon]="faClipboardList"></fa-icon>-->
<!--            <span [class.text-hide]="serviceMenu.getClose()"> Reservaciones </span>-->
<!--          </a>-->
<!--        </li>-->

        <li class="submenu">
          <a [routerLink]="['/admin/packages']" [routerLinkActive]="['active']">
            <fa-icon [icon]="faBoxOpen"></fa-icon>
            <span [class.text-hide]="serviceMenu.getClose()"> Paquetes </span>
          </a>
        </li>

        <li class="submenu">
          <a [routerLink]="['/admin/events']" [routerLinkActive]="['active']">
            <fa-icon [icon]="faTags"></fa-icon>
            <span [class.text-hide]="serviceMenu.getClose()"> Eventos </span>
          </a>
        </li>

        <li class="submenu">
          <a [routerLink]="['/admin/gallery']" [routerLinkActive]="['active']">
            <fa-icon [icon]="faImages"></fa-icon>
            <span [class.text-hide]="serviceMenu.getClose()"> Galeria </span>
          </a>
        </li>
      </ul>

      <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

  </div>

</div>
<!-- End Sidebar -->
