<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slider/slider.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/slider2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/slider/slider3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">
      <h1 class="text-center text-black">Nuestra Misión</h1>
      <p>Ser el primer campo de gotcha en otorgar a nuestros clientes un servicio y atencion de calidad para llevar al maximo la experiencia ludica de este deporte, siempre observando las normas de seguridad y reglamentos de juego establecidos par la practica del mismo.</p>
    </div>
  </div>
</div>
<div class="container my-5" *ngIf="packages.length != 0">
  <h1 class="text-center text-black">Paquetes</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0" *ngFor="let package of packages">
      <div class="card">
        <img [src]="base_url + package.image" class=" aspect-radio-main" alt="imagen" *ngIf="package.image" onerror="this.onerror=null;this.src='assets/images/missing.png'">
        <img src="assets/images/missing.png" *ngIf="!package.image" class="aspect-radio-main">
        <div class="card-body">
          <h5 class="card-title">{{ package.title }}</h5>
          <p class="card-text" [innerHTML]="package.intro| truncate:[150, '...']"></p>
          <a class="btn btn-primary float-end" [routerLink]="['/paquetes', package.slug]">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center">
      <video src="assets/videos/route.mp4" class="w-100" controls>
        Tu navegador no admite el elemento <code>video</code>.
      </video>
    </div>
  </div>
</div>
<div class="container-fluid mt-2">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941.7529748044429!2d-99.60565715772506!3d19.23831317672128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd8b8fb4b01c51%3A0xf18adf1c6157f1d8!2sGotcha%20Diablo!5e0!3m2!1ses-419!2smx!4v1595995836118!5m2!1ses-419!2smx" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>

