<div class="container pt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-xxl-4">
      <div class="card">
        <div class="row">
          <div class="col-12">
            <img src="assets/images/lap.jpeg" class="aspect-radio border-head" style="height: 150px" alt="Cabezal-Login">
          </div>
        </div>
        <div class="card-body">
          <div class="px-5">
            <div class="row">
              <div class="col-12">
                <p *ngIf="alertB">
                  <ngb-alert [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
                </p>
              </div>
            </div>
          </div>
          <form (ngSubmit)="submit(form)" #form="ngForm">
            <div class="p-5">
              <div class="row py-3">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="email" name="email" id="floatingInput" placeholder="Correo" class="form-control" ngModel required>
                    <label for="floatingInput">
                      <span>Correo</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row py-3">
                <div class="col-12">
                  <div class="form-floating">
                    <input [type]="type" name="password" id="floatingPassword" placeholder="Contraseña" class="form-control" ngModel required>
                    <label for="floatingPassword">
                      <span>Contraseña</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row py-1">
                <div class="form-group">
                  <a class="btn btn-link" [routerLink]="['/sign/password/create']">
                    ¿Olvidaste tu Contraseña?
                  </a>
                </div>
              </div>
              <div class="row py-4 justify-content-center">
                <button class="btn btn-primary btn-lg" type="submit" [disabled]="form.invalid">Entrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
