<header>
  <h1>
    <a [routerLink]="['/']">
      <img src="assets/images/logo.png" class="img-fluid" alt="Logo">
    </a>
  </h1>

  <section class="menu">

    <input type="checkbox" id="menuCheck" #checkbox>
    <label for="menuCheck" class="menu-icon">
      <fa-icon [icon]="faBars" class="fa-bars"></fa-icon>
      <fa-icon [icon]="faTimes" class="fa-times"></fa-icon>
    </label>

    <ul class="menu-list">
      <li class="nav-item">
        <a  class="nav-link text-white" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goto()">
          Inicio
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a href="#" class="nav-link text-white" [routerLink]="['/reservacion']" routerLinkActive="active" (click)="goto()">-->
<!--          Reservación-->
<!--        </a>-->
<!--      </li>-->
      <li class="nav-item">
        <a href="#" class="nav-link text-white" [routerLink]="['/paquetes']" routerLinkActive="active" (click)="goto()">
          Paquetes
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" [routerLink]="['/eventos']" routerLinkActive="active" (click)="goto()">
          Eventos
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-white" [routerLink]="['/galeria']" routerLinkActive="active" (click)="goto()">
          Galeria
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/contacto']" routerLinkActive="active" (click)="goto()">
          Contacto
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="tel: 7225850178" (click)="goto()" (click)="clickTel('telephone')">
          <fa-icon [icon]="faPhoneAlt" class="text-danger"></fa-icon>
          7225850178
        </a>
      </li>
    </ul>
  </section>
</header>



