@import "src/assets/sass/variables.scss"

header
  position: fixed
  background-color: $dark
  color: #e0e0e0
  top: 0
  height: 100px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 40px
  font-size: 1.1em
  z-index: 9

  //h1
  //  text-transform: uppercase
  //  font-size: 1.4em

.menu
  display: flex

#menuCheck, .menu-icon
  display: none

#menuCheck
  width: 0
  height: 0

.menu-list
  list-style: none
  display: flex

  li
    display: inline-block
    cursor: pointer
    transition: color   0.3s

    &:hover
      color: #fff

.nav-link
  color: #ffffff

  &:hover
    color: #0C8489



@media (max-width: $lg)
  header
    background-color: transparent
    color: $dark
    padding-right: 16px

    &::before
      content: ""
      position: fixed
      top: -100px
      right: -100px
      width: 200px
      height: 200px
      background-color: $dark
      border-radius: 50%

  .submenu
    margin-top: 0

  #menuCheck
    display: block

  .menu-icon
    display: block
    color: #fff
    position: relative
    z-index: 2

  .menu-list
    position: fixed
    background-color: $dark

    color: #fff
    top: -100%
    left: 100%
    width: 150vh
    height: 150vh
    //border-radius: 50%
    flex-direction: column
    justify-content: center
    align-items: center
    transition: top 0.4s, left 0.4s, transform 0.4s

  #menuCheck:checked ~ .menu-list
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

  .menu-list li
    text-transform: uppercase
    font-size: 1.5em
    letter-spacing: 2px
    margin-bottom: 40px
    opacity: 0
    transition: opacity 1s

  #menuCheck:checked ~ .menu-list li
    opacity: 1

  .menu-icon
    position: relative
    width: 60px
    height: 60px
    border-radius: 50px
    font-size: 1.4em
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center

  #menuCheck:checked ~ .menu-icon
    border: 2px solid #fff

  label .fa-bars, #menuCheck:checked ~ label .fa-times
    display: block

  label .fa-times, #menuCheck:checked ~ label .fa-bars
    display: none
