@import "src/assets/sass/_variables.scss"

*
  font-family: "Arial Narrow"


.btn-primary
  background-color: $dark !important
  border-color: $dark !important

.cursor
  cursor: pointer

.aspect-radio
  width: 100%
  object-fit: cover



.upload-btn-wrapper
  position: relative
  overflow: hidden
  display: inline-block


.upload-btn-wrapper .btn
  color: white
  cursor: alias
  padding: 2px 20px
  border-radius: 0px
  font-size: 1rem
  font-weight: bold



.upload-btn-wrapper input[type=file]
  font-size: 100px
  position: absolute
  left: 0
  top: 0
  opacity: 0

.text-black
  color: black
