// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #bf030a;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #252c37;


// Resolutions
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;
$xxl: 87.5rem;
